.debug {
  /* border-style: solid; */
}

@media (min-width: 250px) {
  .flexParent {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 90%;
  }
}

.mainContent {
  flex: 1;
  overflow-y: scroll;
}

.spinnerClass {
  text-align: center;
}

.song {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 10px;
  border: 1px dashed green;
}

.song > span {
  display: inline-block;
}

.nav {
  float: right;
}

#navbar {
  border-right: 1px solid black;
  padding-right: 10px;
}

.buttonInvisible {
  display: none;
}

.buttonVisible {
  display: block;
}
