.debug {
  /* border-style: solid; */
}

@media (min-width: 250px) {
  .flexParent {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 90%;
  }
}

.mainContent {
  flex: 1;
  overflow-y: scroll;
}

.spinnerClass {
  text-align: center;
}

.song {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 10px;
  border: 1px dashed green;
}

.song > span {
  display: inline-block;
}

.nav {
  float: right;
}

#navbar {
  border-right: 1px solid black;
  padding-right: 10px;
}

.buttonInvisible {
  display: none;
}

.buttonVisible {
  display: block;
}



.unmute {
  background-image: url(./icons/unmute.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;

  position: fixed;
}

.mute {
  background-image: url(./icons/mute.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;

  position: fixed;
}


body {
  background-color: black;
  font-family: 'Gilroy-Bold ☞';
  color: white;
}



@font-face {
  font-family: 'Gilroy-Bold ☞';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Bold ☞'), url('./fonts/Gilroy-Bold.woff') format('woff');
  }


  @font-face {
    font-family: 'Gilroy-Heavy ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy ☞'), url('./fonts/Gilroy-Heavy.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy-Light ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light ☞'), url('./fonts/Gilroy-Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy-Medium ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium ☞'), url('./fonts/Gilroy-Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy-Regular ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular ☞'), url('./fonts/Gilroy-Regular.woff') format('woff');
    }