/* .debug { */
  /* border-style: solid; */
/* } */

@media (min-width: 250px) {
  .flexParent {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 90%;
  }
 

  }


  /* small screens */
@media (max-width: 640px){
  .navbarContent:-webkit-scrollbar  {
    width: 80%;
  }
}

body {
  /* background-color: rgb(8, 8, 8); */
  background-color: #121212;
  font-family: 'Gilroy-Bold ☞';
  color: white;
  /* opacity: 87%; */
  height: 100%;
  display: flex;
  z-index: 0;
}

body::-webkit-scrollbar {
  display: none;
}
.mainContent {
  flex: 1;
  background-color: transparent;
  margin-left: 22em;
  /* margin-top: 2em; */
}

.mainContent::-webkit-scrollbar {
  display: none;
}

.spinnerClass {
  text-align: center;
  position: fixed;
  vertical-align: center;
  margin-left: 35%;
  margin-top: 15%;
}

a {
  color: #ffab91;
  /* font-family: 'OpenSans-regular';
  font-style: normal;
  font-weight: 800;
  font-size: 16px; */
}

.grey_link {
  color: #A0A0A0;
}
#resultsDiv{
  margin: 1em;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.grey_link:hover{
  color: #ffab91;

}

#search {
  text-align: center;
}
#resultsDiv{
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  overflow-y: visible;
  overflow-x: hidden;
  width: 100%;

  /* width: 95%; */
}


#resultsDiv>.song {
  width: 19em;
  height: 14em;
  padding-top: 5em;

  display: inline-block;
  vertical-align: top;
  /* float: right; */
  /* margin: 7em; */
  /* margin-bottom: -4%; */
  /* border: 1px dashed green; */
}

#resultsDiv>.song > span {
  display: inline-block;
}

.question{
  color: #ffab91;
  cursor: pointer;

}


/* Buttons */
button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'OpenSans-regular'!important;
  font-style: normal;

  font-size: 11px!important;
  color: rgb(8, 8, 8);
  background-color: white;
  text-align:center;
  transition: all 0.2s;


  border-radius:0em !important;
  align-items: stretch;
  /* margin:0.2em 0.5em 0.5em 0.2em; */
  cursor: pointer;


  /* margin-right: 1rem;
  margin-left: 0rem; */
  }

  .secondary-button{
    background-color: #1e1e1e;
    color: #fff;
    border:0.1em solid #ffffff;
}
  .playlistButton {
    font-size: 11px;
    width: 9em;
    /* height: 3em; */
    margin: 0.5rem;
  }

  .playlistButton:hover{
    color:#fff!important;
    background-color: #ff9c7e!important;
    /* border:0.1em solid #000000; */
  }

  #collection-button {
    /* font-size: 11px; */
    /* width: 10em; */
    background-color: #fff;
    color: #000000;
    width: 55%;
    height: 30%;
    padding: 15px 20px;
    /* float: right; */

  }

  #export-button {
    width: 28%;
    /* width: 61%; */
    /* height: 28%!important; */
    padding: 15px 20px;
    float: right;
  }

  /* .miniPreviewScroll.onDragStart:{
    background-color: #ff9c7e;
  } */



  button:hover{
  color:#fff!important;
  background-color: #000000!important;
  border:0.1em solid #000000;
  /* transform: scale(1.03); */
  }

button:focus { outline:0 !important; }

.buttonInvisible {
  display: none;
}
.buttonVisible {
  display: block;
}
.unmute {
  background-image: url(./graphics/unmute.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: fixed;
  right: 2em;
  top: 2em;
}
.mute {
  background-image: url(./graphics/mute.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;

  position: fixed;
  right: 2em;
  top: 2em;
}


.selected-playlist {
  border-color: #ff9c7e;
  background-color: #ff9c7e !important;
  color: #fff

}

/* Inputs */

#search-input {
  width: 30%;
  height: 43px;
  left: 819px;
  top: 775px;
  padding: 7px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  border-color: transparent;
  font-family: 'Gilroy-Regular ☞';
  font-size: 15px;
}

/* MENUS */

.navbarContent {
  position: relative;
  width: 100%;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#menu-title {
  position: relative;
  color: transparent;
  text-align: left;
  padding-left: 3.125rem;
  z-index: 10;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;


    transition-property: color, left, bottom;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: 0.05s;
    cursor: pointer;
  }

/* NAVBAR */
.nav {
  float: left;
}

#navbar {
  position: fixed;
  display: flex;
  overflow: visible;
  height: 100%;
  left: 0px;
  top: 0px;
}
#navbar>.navbarContent {
  margin-top: 1rem;
  margin-bottom: 15%;
  padding-left: 10%;
  text-align: left! important;

}

#navbar>#menu-title {
  position: relative;
  margin: 0rem;
  margin-left: 0rem;
}

.navbarContent-playlist{
  position: relative;
  background: #1e1e1e;
  /* background: #171717; */
  /* background: #fff; */

  margin-top: 5%;
  margin-bottom: 10%;

  /* set width - remove for original width */
  width: 15em;

  /* padding: 8%; */
  padding: 3.125rem;
  /* padding-right: 2rem; */
  border-radius: 1.5em;
  /* margin: 15%; */
  text-align: left! important;
}


.navbarContent-save{
  position: relative;

  background: #1e1e1e;
  margin-bottom: 15%;

  /* set width - remove for original width */

  width: 15em;

  /* padding: 8%; */
  padding: 3.125rem;
  /* padding-right: 2rem; */

  border-radius: 1.5em;
  /* margin: 15%; */
  text-align: left! important;
}

/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}


.songtooltip {
  position: relative;
  display: inline-block;
}

/* .tooltip => blobify info box in Pick playlist */
.tooltip .tooltip-content {
  visibility: visible;
  width: 30em;
  background-color: #252525;
  color: #ffffff;
  text-align: left;
  padding: 3.125rem;
  position: fixed;
  z-index: 10;
  top: 11.5em;
  left: 24em;
  opacity: 1;
  transition: opacity 0.3s;
}
/* .songtooltip => blobs info box */
.songtooltip .tooltip-content {
  visibility: visible;
  width: 10em;
  background: #1e1e1e;
  color: #fff;
  text-align: left;
  padding: 1.125rem;
  position: absolute;
  z-index: 5;
  bottom: -55%;
  left: 20%;
  /* margin-left: -60px; */
  opacity: 1;
  transition: opacity 0.3s;
}

.tooltip .tooltip-content::after {
  content: "";
  position: absolute;
  top: 13%;
  left: -1%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333333 transparent transparent transparent;
  transform: rotate(90deg);


}
.songtooltip .tooltip-content::after {
  content: "";
  position: absolute;
  top: -4%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #191919 transparent transparent transparent;
  transform: rotate(-180deg);
}

div[class="tooltiptext hidden"] {
  display: none;
  visibility: hidden !important;
  opacity: 0 !important;
}

div[class="tooltiptext visible"]{
  display: block;
  visibility: visible !important;
  opacity: 1 !important;
}

/* blobs pointer */
g {
  cursor: pointer;
}


.tooltip-content {
  position: relative;
  z-index: 5;
}





/* blobs pointer */
g {
  cursor: pointer;
}


/* Fonts */
h1 {
  font-family: 'Gilroy-Bold ☞';
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  /* color: #E0E0E0; */

  -webkit-text-stroke: 0.03em #E0E0E0;

  /* -webkit-text-stroke: 0.03em #FFFFFF; */
  text-align: center;
  letter-spacing: 0.1em;
  }

h2 {
  font-family: 'Gilroy-Bold ☞';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  /* color: #E0E0E0; */

  text-align: left;
  letter-spacing: 0.01em;

  }

  h3 {
    font-family: 'Gilroy-Bold ☞';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    /* color: #fdfdfd; */
    color: #E0E0E0;



    text-align: left;
    margin-bottom: 0px;
    /* letter-spacing: 0.1em; */
    }

  .h3_black{
      color: #000000
    }

  h4 {
    font-family: 'OpenSans-regular';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    /* color: #b3b3b3; */
    color: #A0A0A0;

    text-align: left;
    /* letter-spacing: 0.1em; */
    margin-top: 0px;
    }

    .h4_black{
      color: #000000
    }

    .h4_white{
      color: #fff;
    }

  h5 {
    font-family: 'OpenSans-regular';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    /* color: #b1b1b1; */
    color: #999999;

    /* text-align: right;
    padding-right: 3%; */
    /* letter-spacing: 0.1em; */
    }

  h6 {
    font-family: 'OpenSans-regular';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    color: #A0A0A0;

    text-align: left;
    /* letter-spacing: 0.1em; */
    margin-top: 0px;
    margin-bottom: 0px;

    }





      @font-face {
        font-family: 'OpenSans-regular';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('Open-Sans-Regular'),
        /* url('./fonts/OpenSans-Regular.woff') format('woff'), */
        url('./fonts/OpenSans-Regular.ttf') format('truetype');
      }

  @font-face {
    font-family: 'Gilroy-Bold ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold ☞'), url('./fonts/Gilroy-Bold.woff') format('woff');
    }


  @font-face {
    font-family: 'Gilroy-Heavy ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy ☞'), url('./fonts/Gilroy-Heavy.woff') format('woff');
    }


    @font-face {
    font-family: 'Gilroy-Light ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light ☞'), url('./fonts/Gilroy-Light.woff') format('woff');
    }


    @font-face {
    font-family: 'Gilroy-Medium ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium ☞'), url('./fonts/Gilroy-Medium.woff') format('woff');
    }


    @font-face {
    font-family: 'Gilroy-Regular ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular ☞'), url('./fonts/Gilroy-Regular.woff') format('woff');
    }

    @font-face {
      font-family: 'OpenSans-Regular ☞';
      font-style: normal;
      font-weight: normal;
      src: local('OpenSans-Regular ☞'), url('./fonts/OpenSans-Regular.ttf') format('tff');
      }

.playlist {
  outline:0;
  /* border-radius: 10px; */
  /* margin: 20px; */
  /* padding: 50px; */
  transition-duration: 0.4s;
  /* background-color: #191919; */
}
/* .playlist:hover {
  background-color: #4CAF50;
  color: white;
}
.playlist:active {
  background-color: #3e8e41;
} */

/*
.drophere {
  width: 100%;
  height: 50%;
  text-align: center;

  font-family: 'OpenSans-regular';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;

  background-color: transparent;
  color: #b3b3b3;
  border-style: none;

  overflow-x: hidden;
  overflow-y: visible;

  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}
*/

.miniPreviewScroll {
  height: 5em;
  margin: 0em;
  margin-left: 0em;
  margin-bottom: 1.4em;
  /* border-radius: 1em; */
  /* border:0.1em solid #ffffff; */
  /* border-width: 0.05rem;
  border-style: inset; */
  overflow-x: hidden;
  overflow-y: visible;
  /* background-color: rgb(14, 14, 14); */
  /* background-color: #222222; */
  /* padding: 1em; */
}

.miniPreviewScroll>.song {
  margin: 0em;
  height: 0em;
  width: 0em;
  padding: 0.6em 0em 0em 1em;
  margin: 0em -1.2em -4em 0em;
  overflow: hidden;
}
.miniPreviewScroll>.song>.two>svg {
  height: 1em;
}
.delete-miniblob {
  position: absolute;
  top: 0.97em;
  left: 0.7em;
  height: 1.8em;
  opacity: 0;
  transition: all 0.3s;

}
.delete-miniblob:hover {
  opacity: 1;
}

.drophere::-webkit-scrollbar {
  display: none;
}
/*
.drophere:hover {
  background-color: rgba(20, 46, 21, 0.466);
}
*/

/* h1:hover {
  color:greenyellow;
} */




/* Loading blobs */

@keyframes loadingBlurryBlob {
  0%   {opacity: 0;}
  50%  {opacity: 0.6;}
  100% {opacity:1;}
}
.loadingBlobs {
  margin-top: -2em;
  animation-name: loadingBlurryBlob;
  animation-duration: 2s !important;
  animation-timing-function: ease-in;
  /* animation-iteration-count: infinite; */

}
@keyframes loadingBlob {
  from {filter: grayscale(10%);
        opacity: 0;}
  to {filter: grayscale(0%);opacity: 1;}
}
#resultsDiv>.two {
  animation-name: loadingBlob;
  animation-duration: 2s;
  animation-timing-function: ease-in;

}

#backgroundSummary {
  position: fixed;

  bottom: 0;
  right: 0rem;
  left: 0;
  top: 0;
  flex: 1;
  z-index: 2;
}
#summary>#backgroundSummary{
  background: rgb(8,8,8,0.8);
}

#summaryContent>h2 {
  text-align: center;
}
#summaryContent{
  /* Position of collection summary menu */
  position: fixed;
  margin: 4rem 6rem 4rem 25rem;
  /* margin: 4em; */
  padding: 3rem;
  overflow: visible;
  background-color: #1e1e1e;
  height: 70%;
  overflow: hidden;
  z-index: 5;
  border-radius:1em;
}
@media screen and (max-width: 992px) {
  #summaryContent{
    margin: 1em;
  }
}
table {
  display: flex;
  flex-flow: column;
  margin: 0rem;
  padding: 0rem;
  padding-bottom: 2em;
  height: 100%;
  width: 100%;

  text-align: left;


}
table thead {
  /* head takes the height it requires,
  and it's not scaled when table is resized */
  flex: 0 0 auto;
  width: calc(100% - 0.9em);


}
table tbody {
  /* body takes all the remaining available space */
  flex: 1 1 auto;
  display: block;
  overflow-y: scroll;
  /* background-color: rgb(14, 14, 14); */
  /* background-color: #2c2c2c; */
  border-radius:1em;
  margin: 2rem 1rem 3rem 0rem;
  padding-left: 10em;
}
table tbody tr {
  width: 100%;
}
table thead, table tbody tr, table tfoot tr  {
  display: table;
  table-layout: fixed;
  margin: 0em;

}
table tbody tr, table tfoot tr  {
  width: 100%;
}


.blob {
  text-align: center;
}
.song {
  overflow: visible !important;
}
/* CLOSE BUTTON */

.cross {
  opacity: 1;
}
.cross:hover {
  opacity: 0.5;
}

.cross:before, .cross:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(138, 138, 138);
}
.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}

.close-summary{
  position: absolute;
  right: 2rem;
  top: 2.2rem;
  width: 3rem;
  height: 3rem;
}

.delete-song{
  position: relative;
  width: 1rem;
  height: 1rem;
}

.delete-song:before, .delete-song:after {
  height: 1.5rem;
  width: 2px;
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292929;
  border-radius: 0.3em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 0.3em;
}

svg {
  overflow: visible !important;
}

#tableBody>.song {
  height: 10em;
}



select {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */

  width: 100%;
  /* height: 2em; */
  padding:0.8em 1.2em;

  border:0.1em solid #ff9c7e;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'OpenSans-regular';
  font-style: normal;

  font-size: 14px;
  color: rgb(8, 8, 8);
  background-color: #ff9c7e;

  transition: all 0.2s;
  border-radius:0em !important;
  align-items: stretch;
  /* margin:0.2em 0.5em 0.5em 0.2em; */
  cursor: pointer;
  overflow: visible;
}

select::-ms-expand { display: block; }


select:hover {
  background-color: rgb(8, 8, 8);
  color: white;
  border-color: black;
}

select:focus { outline:0 !important; }
