/* .debug { */
  /* border-style: solid; */
/* } */

@media (min-width: 250px) {
  .flexParent {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 90%;
  }
}
body {
  background-color: rgb(8, 8, 8);
  font-family: 'Gilroy-Bold ☞';
  color: white;
  height: 100%;
  display: flex;
  z-index: 0;
}

body::-webkit-scrollbar {
  display: none;
}
.mainContent {
  flex: 1;
  background-color: transparent;
  
}

.mainContent::-webkit-scrollbar {
  display: none;
}

.spinnerClass {
  text-align: center;
}

.song {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 10px;
  /* border: 1px dashed green; */
}

.song > span {
  display: inline-block;
}


/* Buttons */
button {
  width: 140px;
  height: 43px;
  /* left: 819px;*/
  top: 775px; 
  box-sizing: border-box;
  border-radius: 15px;
  font-family: 'Gilroy-Medium ☞';
  font-size: 12px;
  padding: 7px;
  margin: 10px;
  }
  
  #collection-button {
    margin: 10px;
    bottom: 10%;
  }
.buttonInvisible {
  display: none;
}
.buttonVisible {
  display: block;
}
.unmute {
  background-image: url(./icons/unmute.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: static;

  position: fixed;
  left: 15px;
  top: 15px;
}
.mute {
  background-image: url(./icons/mute.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;

  position: fixed;
  left: 15px;
  top: 15px;
}

/* Inputs */

#search-input {
  width: 30%;
  height: 43px;
  left: 819px;
  top: 775px;
  padding: 7px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  border-color: transparent;
  font-family: 'Gilroy-Regular ☞';
  font-size: 15px;
}

/* MENUS */

.navbarContent {
  position: relative;
  width: 100%;
  text-align: center; 
}
#menu-title {
  color: transparent;
  z-index: 10;
  
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  
          
    transition-property: color, margin-left, bottom;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-delay: 0.05s;
  } 
  #menu-title:hover {
    color: rgb(0, 0, 0);
  }

/* COLLECTION MENU SPECIFICS */
.nav {
  float: right;
}

#navbar {
  position: fixed;
  display: flex;
  overflow: visible;
  /* flex-basis: 20%; */
  height: 100%;
  /* float: right; */
  /* flex-direction: inherit; */
  right: 0px;
  top: 0px;
  background-color: transparent;
  background: url(./icons/sidebar.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div[class="navbar debug hidden"]{
  width: 0%;
  min-width: none;
  transition-property: width;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

div[class="navbar debug nothidden"]{
  width: 20%;
  transition-property: width;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

#navbar>.navbarContent {
  top: 5%;
  margin-top: 30px;
  margin-left: 35px;
}

#navbarContent::-webkit-scrollbar {
  display: none;
}
#navbar>#menu-title {
  position: absolute;
  top: 30%;
  transform: rotate(-90deg);

}
div[class="navbar debug nothidden"]>#menu-title {
  margin-left: -270px;
}
div[class="navbar debug hidden"]>#menu-title {
  margin-left: -285px;
}
div[class="navbar debug hidden"]>#menu-title:hover {
  margin-left: -295px;
}

/* BLOBIFY MENU SPECIFICS */
#blobifyMenu{
  position: fixed;
  display: flex;
  overflow: visible;
  /* flex-basis: 20%; */
  width: 100%;
  height: 40%;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url(./icons/blobifyMenu.svg) no-repeat center center fixed; 
  background-size: cover;
}

div[class="blobifyMenu debug hidden"]{
  height: 0% !important;
  transition-property: height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

div[class="blobifyMenu debug nothidden"]{
  height: 40% !important;
  transition-property: height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.9s;
}


#blobifyMenu>.navbarContent{
  margin: 0px;
  padding-top: 8%;
  padding-bottom: 15%;
}
#blobifyMenu>#menu-title {
  position: absolute;
  left: 38%;
  margin: 0px;  
}

div[class="blobifyMenu debug nothidden"]>#menu-title {
  bottom: 60%;
}
div[class="blobifyMenu debug hidden"]>#menu-title {
  /* margin-bottom: 200px; */
  bottom: -60px !important;
}
div[class="blobifyMenu debug hidden"]>#menu-title:hover {
  /* margin-bottom: -295px; */
  bottom: -50px !important;
}


/* ABOUT MENU SPECIFICS */
#aboutMenu{
  position: fixed;
  display: flex;
  overflow: visible;
  /* flex-basis: 20%; */
  width: 100%;
  height: 40%;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url(./icons/aboutMenu.svg) no-repeat center center fixed; 
  background-size: cover;
}

div[class="aboutMenu debug hidden"]{
  height: 0% !important;
  transition-property: height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

div[class="aboutMenu debug nothidden"]{
  height: 40% !important;
  transition-property: height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.9s;
}


#aboutMenu>.navbarContent{
  margin: 0px;
  padding-top: 8%;
  padding-bottom: 15%;
}
#aboutMenu>#menu-title {
  position: absolute;
  left: 38%;
  margin: 0px;
  transform: rotate(90deg);
}

div[class="aboutMenu debug nothidden"]>#menu-title {
  bottom: 60%;
}
div[class="aboutMenu debug hidden"]>#menu-title {
  /* margin-bottom: 200px; */
  bottom: -60px !important;
}
div[class="aboutMenu debug hidden"]>#menu-title:hover {
  /* margin-bottom: -295px; */
  bottom: -50px !important;
}

/* Fonts */
h1 {
  font-family: 'Gilroy-Bold ☞';
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  
  
  -webkit-text-stroke: 1px #FFFFFF;
  text-align: center;
  letter-spacing: 0.1em;
  }

@font-face {
  font-family: 'Gilroy-Bold ☞';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Bold ☞'), url('./fonts/Gilroy-Bold.woff') format('woff');
  }


  @font-face {
    font-family: 'Gilroy-Heavy ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy ☞'), url('./fonts/Gilroy-Heavy.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy-Light ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light ☞'), url('./fonts/Gilroy-Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy-Medium ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium ☞'), url('./fonts/Gilroy-Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy-Regular ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular ☞'), url('./fonts/Gilroy-Regular.woff') format('woff');
    }

/* .playlistCss {
  outline:0;
  border-radius: 10px;
  margin: 20px;
  padding: 50px;
  transition-duration: 0.4s;
}
.playlistCss:hover {
  background-color: #4CAF50;
  color: white;
}
.playlistCss:active {
  background-color: #3e8e41;
} */
.drophere {
  width: 200px;
  height: 500px;
  padding: 70px 10px;
  left: 100px;
  text-align: center;
  font-family: 'Gilroy-Bold ☞';
  font-size: 20px;
  background-color: transparent;
  color: white;
  border-style: none;

  overflow-x: hidden;
  overflow-y: visible;

  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.drophere::-webkit-scrollbar {
  display: none;
}
.drophere:hover {
  background-color: rgba(76, 175, 79, 0.466);
}