.debug {
  /* border-style: solid; */
}

@media (min-width: 250px) {
  .flexParent {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 90%;
  }
}

.mainContent {
  flex: 1;
  overflow-y: scroll;
}

.spinnerClass {
  text-align: center;
}

.song {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 10px;
  /* border: 1px dashed green; */
}

.song > span {
  display: inline-block;
}


.buttonInvisible {
  display: none;
}

.buttonVisible {
  display: block;
}

.unmute {
  background-image: url(./icons/unmute.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: static;

  position: fixed;
  left: 15px;
  top: 15px;
}

.mute {
  background-image: url(./icons/mute.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;

  position: fixed;
  left: 15px;
  top: 15px;
}


body {
  background-color: rgb(8, 8, 8);
  font-family: 'Gilroy-Bold ☞';
  color: white;

  height: 100%;
}

.nav {
  float: right;
}

#navbar {
  position: fixed;
  height: 100%;
  right: 0px;
  top: 0px;

  overflow-x: visible;


  /* overflow-x: hidden; */
  
  background: url(./icons/sidebar.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  

}

.hidden {
  width: 2%;
  transition-property: width;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

/* .hidden:hover {
  width: 4%;
} */

.nothidden {
  width: 20%;
  /* min-width: 200px; */

  transition-property: width;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}




#navbarContent {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-left: 35px;
  overflow-x: visible;
  overflow-y: scroll;

}



/* .nothidden>#navbarContent {
  color: red;
  opacity:1;
  transition-timing-function: ease-in-out;
  transition-delay: 2s;
  transition-duration: 0.5s;
}

.hidden>#navbarContent {
  color: blue;
  opacity:0.5;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
} */

h1 {
font-family: 'Gilroy-Bold ☞';
font-style: normal;
font-weight: 800;
font-size: 100px;


-webkit-text-stroke: 1px #FFFFFF;
text-align: center;
letter-spacing: 0.1em;
}

#collection-title {
position: absolute;
margin-left: -270px;
top: 30%;
color: transparent;

  transform: rotate(-90deg);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;


  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;

}

#collection-title:hover {
  color: rgb(0, 0, 0)
}





button {
width: 140px;
height: 43px;
left: 819px;
top: 775px;
box-sizing: border-box;
border-radius: 66px;
font-family: 'Gilroy-Medium ☞';
font-size: 12px;
}

#collection-button {
  margin: 10px;
  bottom: 10%;
}


@font-face {
  font-family: 'Gilroy-Bold ☞';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Bold ☞'), url('./fonts/Gilroy-Bold.woff') format('woff');
  }


  @font-face {
    font-family: 'Gilroy-Heavy ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy ☞'), url('./fonts/Gilroy-Heavy.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy-Light ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light ☞'), url('./fonts/Gilroy-Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy-Medium ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium ☞'), url('./fonts/Gilroy-Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Gilroy-Regular ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular ☞'), url('./fonts/Gilroy-Regular.woff') format('woff');
    }





/* .playlistCss {
  outline:0;
  border-radius: 10px;
  margin: 20px;
  padding: 50px;
  transition-duration: 0.4s;
}
.playlistCss:hover {
  background-color: #4CAF50;
  color: white;
}
.playlistCss:active {
  background-color: #3e8e41;
} */
.drophere {
  width: 200px;
  height: 500px;
  padding: 70px 10px;
  left: 100px;
  text-align: center;
  font-family: 'Gilroy-Bold ☞';
  font-size: 20px;
  background-color: transparent;
  color: white;
  border-style: none;

  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}
.drophere:hover {
  background-color: rgba(76, 175, 79, 0.466);
}